section {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
  margin-bottom: 44px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  color: #585858;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;

}

li {
  margin: 0;
  margin-bottom: 26px;
  width: 50%;
  height: 348px;
  padding: 30px 16px 20px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


li:nth-child(4n+1),
li:nth-child(4n+4) {
  background: #FFB23F;
}

li:nth-child(4n+2),
li:nth-child(4n+3) {
  background: #3F8CFF;
}

h2 {
  margin: 0;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #FFFFFF;
}

p {
  margin: 0;
  margin-bottom: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

button {
  margin-top: auto;
  margin-bottom: 0;
  align-self: center;
  width: 240px;
  height: 40px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
